@media only screen and (max-width: 81.25em) {
  .details__container {
    gap: 8rem;
  }

  .details__info {
    gap: 5rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .details__container {
    gap: 4rem;
  }
}
@media only screen and (max-width: 62.5em) {
  .details__section {
    height: 100%;
  }
  .details__container {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 43.75em) {
  .header {
    padding: 1.5rem 2rem;
  }
  .countries__section {
    padding: 0 2rem;
  }
  .countries__header {
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
  }

  .regions {
    align-self: flex-start;
  }
  .primary__heading {
    font-size: 1.6rem;
  }
  .sunny,
  .moon {
    width: 2rem;
    height: 2rem;
  }
  .light__mode,
  .dark__mode {
    font-size: 1.3rem;
  }

  .details__section {
    padding: 0 2rem;
  }
  .details__container {
    align-items: flex-start;
  }

  .details__info {
    flex-direction: column;
    gap: 0.5rem;
  }
  .details__img-box {
    width: 100%;
  }
}
