* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  fill: #fff;
}

/* UTILITY CLASS */
.dark__element {
  background-color: #2b3945;
}

.container {
  background-color: #202c37;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 6rem;
  margin-bottom: 5rem;
  box-shadow: 1.2rem 0.2rem 3.2rem 0 rgba(0, 0, 0, 0.2);
}
.primary__heading {
  font-size: 2.5rem;
}
.switch__theme-box {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.light__box,
.dark__box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sunny,
.moon {
  width: 2.5rem;
  height: 2.5rem;
}
.light__mode,
.dark__mode {
  font-size: 1.5rem;
}
.closed {
  display: none;
}

/* COUNTRIES SECTION */

.countries__section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 0 6rem;
}

.countries__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search__box {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1.2rem 0.2rem 3.2rem 0 rgba(0, 0, 0, 0.2);
}

.search {
  height: 2rem;
  width: 2rem;
}
.search__input {
  padding: 1rem 10rem 1rem 1.3rem;
  color: #fff;
  width: 100%;
  outline: 0;
  border: 0;
}

.regions {
  color: #fff;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 1.2rem 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.2);
}

.countries__box {
  display: flex;
  flex-wrap: wrap;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}
.country__box {
  display: flex;
  flex-direction: column;
  width: 30rem;
  box-shadow: 1rem 1rem 1.5rem 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.country__img {
  height: 20rem;
  object-fit: cover;
}
.country__data {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 2rem 1.5rem 4rem;
}
.country__name {
  font-size: 2.2rem;
  padding: 1.3rem 1.5rem 0 1.5rem;
}
.country__text {
  font-size: 1.8rem;
}

.country__span {
  font-size: 1.5rem;
  font-weight: 200;
}

/* DETAILS SECTION */

.details__section {
  display: flex;
  flex-direction: column;
  padding-left: 6rem;
  height: 100vh;
}
.back__box {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  align-self: flex-start;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.arrow__back {
  height: 2rem;
  width: 2rem;
}
.back__text {
  font-size: 1.4rem;
}
.details__container {
  display: flex;
  padding: 4rem 0;
  gap: 16rem;
}
.details__img-box {
  width: 50rem;
}
.details__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details__box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}
.details__name {
  font-size: 2.2rem;
  font-weight: 900;
}
.details__info {
  display: flex;
  gap: 10rem;
}
.details__info-1,
.details__info-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.details__text,
.border {
  font-size: 1.8em;
  font-weight: 700;
}

.details__span {
  font-size: 1.6rem;
  font-weight: 200;
}

.details__border {
  padding-top: 3rem;
}

.border {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.border__name {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
